<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
   
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main class="mt-5 container">
        <div class="jumbotron">
            <h1>This is Employee review system</h1>
            <p>Welcome to Onboard</p>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>